body{
    background-image: url(../images/bg9.jpg);
    background-size: cover;
}
.top p{
    padding: 12px ,12px ,12px ,12px;
    margin: 10px 10px;
    color: white;
    font-size: 40px;
    font-family: monospace;
    text-align: center;
}
.top nav{
    background-color: transparent;
    display: flex;
    justify-content: space-evenly;
    padding: auto;
    margin: auto;
    margin-top: 40px;
}
.name p{
    color: white;
    font-family: cursive;
    font-size: 40px;
    transition: all 0.4s ease-in;
}
.name p:hover{
    font-size: 42px;
    translate: 0 20px;
}
.top nav .links a{
    padding: 20px 20px 20px 20px;
    margin: auto;
    font-style: normal;
    font-family: cursive;
    color: rgb(255, 255, 255);
    font-size: 25px;
    text-decoration: none;
    border-bottom: 1px solid transparent;
    transition: all 0.5s ease-in-out;
}
.top nav .links a:hover{
    color: gray;
    border-bottom: 1px solid black;
    transition: all 0.5s ease-in-out;
    font-size: 27px;
}
.container{
    margin-top: 100px;
    display: flex;
    justify-content: space-evenly;
}
.address{
    
    border: 2px solid rgb(255, 255, 255);
    border-radius: 5px;
    box-shadow: 2px 1px 3px rgb(255, 255, 255);
    padding: 15px;
    font-family: cursive;
    color: white;
    text-align: center;
    height: fit-content;
}
.phone{
    border: 2px solid rgb(255, 255, 255);
    border-radius: 15px;
    box-shadow: 2px 1px 3px rgb(255, 255, 255);
    padding: 30px;
    font-family: cursive;
    color: white;
    padding: 5px;
    font-family: cursive;
font-size: 20px;
}
.phone i{
    color: black;
    font-size: 30px;
    padding: 5px;
}
.phone p{
    margin-bottom: -5px;
}
.phone span{
    font-weight: bold;
    color: springgreen;
}